main {
  width: 100%;
  background-color: #56cbfa;
  height:100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: auto;
}

.login-container {
  background-color: white;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  width: 90%;
  border-radius: 15px;
  padding: 10px 20px;
  margin: 10px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.form-sec {
}
.form-sec .form form {
  margin: 20px 0;
}
.form-sec .form > span {
  display: block;
  font-size: 1.2em;
  font-weight: bold;
  margin-bottom: 20px;
  width: 100%;
  text-align: center;
}
.form-sec .form form .input-group {
  /* margin: 10px 0; */
}
.form-sec .form form .input-group label {
  display: block;
  font-size: 0.9em;
}
.form-sec .form form .input-group input {
  margin: 10px 0;
  border: none;
  background-color: #eee;
  outline: none;
  padding: 10px;
  width: 100%;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.1em;
  border-radius: 15px;
}
.form-sec .form form > span {
  font-size: 0.9em;
}
.form-sec .form form > span a {
  color: #d87355;
}

.form-sec .form form .submit {
  width: 100%;
  display: flex;
  justify-content: center;
}

.form-sec .form form .submit input {
  text-align: center;
  outline: none;
  border: none;
  border-radius: 25px;
  padding: 10px 50px;
  margin-top: 20px;
  cursor: pointer;
}
.form-sec .form form .submit input:hover {
  background-color: #d87355;
  color: white;
}
.form-sec .social {
  border-top: 1px solid #bbb;
  display: flex;
  justify-content: space-around;
  padding: 20px 0;
}
.form-sec .social a {
  font-size: 1.5em;
}
.form-sec .social i {
    color: #444;
}

.form-sec .social i:hover {
  color: #d87355;
}

.image-sec {
  display: none;
  align-items: center;
  justify-content: center;
}
.image-sec .image-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 90%;
}
.image-sec .image-container img {
  width: 100%;
}

@media screen and (min-width: 768px) {
  .login-container {
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .image-sec {
    display: flex;
    flex: 1;
  }
  .form-sec {
    flex: 1;
  }
}
@media screen and (max-height: 600px) {
  main {
    height:auto;
  }
}

@media screen and (min-width: 1024px) {
  .image-sec {
    flex: 3;
  }
  .form-sec {
    flex: 2;
  }
  .login-container {
    max-width: 800px;
    padding: 50px;
  }
}
